<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy</title>
    @vite('resources/js/app.js') <!-- Or mix if you're using Mix -->
    @vite('resources/css/app.css')
</head>
<body>
    <div id="app">
        <privacyPolicy></privacyPolicy>
    </div>
</body>
</html>